@font-face {
  font-family: ar-kufi;
  src: url(ReemKufi-Medium.ttf);
}

html 
{
	margin: 0px;
	padding: 0px;
}
body 
{
	background-color: black;
	margin: 0px;
	padding: 0px;
}

#wrapper 
{
	margin-top: 0px;
	margin-right: 70px;
	margin-left: 70px;
	margin-bottom: 30px;
	height: 401px;
	width: 265px;
	background-color: whitesmoke;
	display: inline-grid;
	position: center;
	opacity: 3;
}

#logo-box 
{
	height: 33px;
	width: 265px;
	background-color: rgb(30, 30, 30);
	display: flex;
}

#profbtn 
{
	height: 23px;
	width: 30px;
	margin-top: 5px;
	margin-left: 9px;
	margin-bottom: 5px;
	background-color: cyan;
	font-weight: bold;
	text-align: center;
	border: none;
	cursor: pointer;
	border-radius: 20%;
}

#log 
{
	height: 338px;
	width: 265px;
	background-color: black;
}


#log img 
{
	height: 338px;
	width: 265px;
}

#type-back 
{
	height: 30px;
	width: 265px;
	background-color: red;
}

#type-box 
{
	margin-top: 5px;
	margin-left: 10px;
	height: 20px;
	width: 245px;
	background-color: white;
	border-radius: 9px;
	align-content: right;
	display: flex;
}

#type-box img  
{
	margin-top: 3px;
	margin-right: 7px;
	margin-left: 7px;
	margin-bottom: 3px;
	height: 12px;
	width: 12px;
}

#type 
{
	height: 20px;
	width: 219px;
	background-color: grey;
	border-radius: 9px;
}